<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.fahimk.readabilityclient" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="4" />
	<application android:icon="@drawable/ic_launcher"
		android:label="ReadIt" android:theme="@style/Theme.Readability">
		<activity 
			android:screenOrientation="portrait" android:name=".MainMenu"
			android:label="ReadIt">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="com.fahimk" android:host="readability" />
			</intent-filter>
		</activity>
		<activity 
			android:name="ReadingList" android:label="ReadIt - Bookmarks" />
		<activity android:configChanges="keyboardHidden|orientation"
			android:name=".WebActivity" android:label="ReadIt - Reader" />
		<activity android:theme="@android:style/Theme.NoTitleBar"
			android:name=".Preferences" android:label="ReadIt - Preferences" />
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>