<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fahimk.readabilityclient"
    android:versionCode="8"
    android:versionName="2.3" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="ReadIt"
        android:theme="@style/Theme.Readability" >
        <activity
            android:label="ReadIt"
            android:name=".MainMenu"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="readability"
                    android:scheme="com.fahimk" />
            </intent-filter>
            <intent-filter android:label="Open In ReadIt" >
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:label="ReadIt"
            android:name="ReadingList" />
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="ReadIt"
            android:name=".WebActivity" />
        <activity
            android:label="ReadIt"
            android:name=".Preferences"
            android:theme="@android:style/Theme.NoTitleBar" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>